body
{
    width: 40em;
    margin: 0 auto;
    background-color: black;
    font-family: "Titillium Web", sans-serif;
    font-size: 30px;
    color: whitesmoke;
    display: block;
    text-align: center;
}
h1
{
    background-color: #428bca;

}
form
{
    width : 20em;
    margin : 0 auto;
    background-color: #555555;
}