html {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin-top: 10px;
    background: black;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: whitesmoke;
    display: block;
    margin: auto;
    max-width: 1400px;
    vertical-align: middle;
    min-height: 100%;
}

a {
    color: white;
}

/* NEWS PANEL with links*/
.news-panel {
    background-color: rgb(57, 113, 158);
    font-size: 14px;
    color: white;
    box-sizing: border-box;
    padding: 5px;
    display: block;
    position: relative;
}

.news-panel h4 {
    border-bottom: 1px solid #fff;
    margin: 0 auto 3px;
    width: 96%;
    padding: 8px 0 6px 0;
    font-size: 14px;
    font-weight: 500;
    position: relative;
}

.news-panel a {
    color: white;
    text-decoration: none;
}

.news-panel a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.news-link-title {
    font-size: 14px;
    line-height: 16px;
    display: block;
    box-sizing: border-box;
}

.news-panel-footer {
    position: absolute;
    bottom: 0;
    border-top: 1px solid #fff;
    left: 2%;
    width: 96%;
}

.news-left-bottom-link {
    float: left;
    width: 25%;
    text-align: center;
}

.news-right-bottom-link {
    float: right;
    width: 50%;
    text-align: center;
}

.logo {
    float: left;
    padding: 10px;
}

.cube {
    width: 300px;
    height: 300px;
    padding: 5px;
    background-color: #428bca;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

a:hover {
    background-color: darkblue;
}

.content-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
}

.one {
    grid-column: 1 /span 4;
    grid-row: 1;
    background-color: red;

}
.three {
    background-color: violet;
}
.four {
    grid-column: 3/5;
    grid-row: 2;
    background-color: green;
}



.five {
    background-color: violet;
}

.six {
    grid-column: 2/4;
    grid-row: 3;
    background-color: white;
}

.seven {
    background-color: violet;
}
img
{
    max-height: 100%;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}