html {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin-top: 10px;
    background: black;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: whitesmoke;
    display: block;
    margin: auto;
    max-width: 1400px;
    vertical-align: middle;
    min-height: 100%;
}

.logo {
    float: left;
    padding: 10px;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

a {
    color: whitesmoke;
}

a:hover {
    background-color: darkblue;
}
.content-wrapper
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(300px, auto);
    border: 1px dashed red;
    content: 1px dashed blue;
}
.one
{
    grid-column: 1 /span 4;
    grid-row: 1;
    background-color: red;

}
.two
{
    background-color: violet;
}
.three
{
    grid-column: 3/5;
    grid-row: 2;
    background-color: green;
}
.four
{
    background-color: violet;
}
.five
{
    background-color: violet;
}
.six
{
    grid-column: 2/4;
    grid-row: 3;
    background-color: white;
}
.seven
{
    background-color: violet;
}