html {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: black;
    font-family: "Titillium Web", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: whitesmoke;
    margin: 0;
    display: block;
}