html {
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: transparent;
}

body {
    background: black;
    font-family: "Titillium Web", sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: whitesmoke;
    width : 60em;
    margin: 0 auto;
    display: block;
}